.planetimage {
    height: 100vh; /* Set the height to the viewport height */
    width: auto; /* Same value as height to keep it square */
    object-fit: cover; /* To ensure image covers the set dimensions */
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1000;
    position: absolute;
}


@media (orientation: portrait) {
    .planetimage {
        height: auto; /* Set the height to the viewport height */
        width: 100vw; /* Same value as height to keep it square */
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
